Repository laradock/laradock, pull requests merged in 2021-03, with the labels that each got.

#2721 Fix xdebug config .so path so that xdebug start/xdebug stop works
  php-fpm/xdebug
Labels: PHP Extension: Xdebug

#2917 feat(MEMCACHED extension): add memcached extension installation for CI
  .github/workflows/main-ci.yml
  php-fpm/Dockerfile
Labels: PHP Extension: Memcached

#2919 fix(SWOOLE extension): add SWOOLE extension installed correctly
  php-worker/Dockerfile
  workspace/Dockerfile
Labels: PHP Extension: Swoole
