Repository laradock/laradock, pull requests merged in 2021-04, with the labels that each got.

#2933 feat(support zookeeper extension): php-fpm workspace
  docker-compose.yml
  env-example
  php-fpm/Dockerfile
  workspace/Dockerfile
Labels: PHP Extension: zookeeper

#2935 fix(gnupg extension): php-fpm
  .github/workflows/main-ci.yml
  php-fpm/Dockerfile
Labels: PHP Extension: gnupg

#2932 Memcached not working in workspace with php 7.
  docker-compose.yml
  env-example
  workspace/Dockerfile
Labels: PHP Extension: Memcached

#2944 feat(imagemagick supported formats): php-worker horizon
  laravel-horizon/Dockerfile
  php-worker/Dockerfile
Labels: PHP Extension: ImageMagick

#2958 feat(ldap extension): php-worker horizon
  .env.example
  docker-compose.yml
  laravel-horizon/Dockerfile
  php-worker/Dockerfile
Labels: PHP Extension: LDAP

#2960 feat(CI build failed): php-fpm AMQP
  php-fpm/Dockerfile
Labels: PHP Extension: AMQP
