Repository laradock/laradock, pull requests merged in 2022-12, with the labels that each got.

#3320 update version jenkins
  jenkins/Dockerfile
Labels: Service: Jenkins

#3285 added: PHP_DOWNGRADE_OPENSSL_TLS_VERSION
  .env.example
  docker-compose.yml
  php-fpm/Dockerfile
  workspace/Dockerfile
Labels: Service: php-fpm, Service: workspace

#3297 fix php7 swoole build failed
  php-fpm/Dockerfile
  php-worker/Dockerfile
  workspace/Dockerfile
Labels: Service: php-fpm, Service: workspace, Service: php-worker

#3329 fix: php-worker ssl
  php-worker/Dockerfile
Labels: Service: php-worker

#3330 fix: php-worker ldap 5.6 7.0 ssl
  php-worker/Dockerfile
Labels: PHP Extension: LDAP, Service: php-worker

#3331 fix: workspace nvm install node
  workspace/Dockerfile
Labels: Type: Bug Fix, Service: workspace
