Repository laradock/laradock, pull requests merged in 2022-11, with the labels that each got.

#3283 Install dnsutils
  .env.example
  DOCUMENTATION/content/documentation/index.md
  DOCUMENTATION/content/introduction/index.md
  docker-compose.yml
  php-fpm/Dockerfile
  workspace/Dockerfile
Labels: Service: php-fpm, Service: workspace

#3291 Adding pcov for php 8.x to php-fpm and workspace
  php-fpm/Dockerfile
  workspace/Dockerfile
Labels: Service: php-fpm, Service: workspace, PHP Extension: pcov

#3251 Fixes #3249 - Expose Vite port in docker-compose.yml
  .env.example
  docker-compose.yml
Labels: Service: workspace

#3296 Oci8 arm64
  .env.example
  php-fpm/Dockerfile
  workspace/Dockerfile
Labels: PHP Extension: oci8

#3284 php-fpm fails to build with ldap enabled under mac m1 (arm64)
  php-fpm/Dockerfile
Labels: PHP Extension: LDAP, System: Apple M1, Service: php-fpm
