Repository laradock/laradock, pull requests merged in 2023-09, with the labels that each got.

#3438 fix: workspace wkhtmltopdf build job
  .env.example
  workspace/Dockerfile
Labels: Service: workspace, Tool: wkhtmltopdf

#3439 fix: php-fpm amqp build job
  php-fpm/Dockerfile
Labels: PHP Extension: AMQP, Service: php-fpm

#3440 fix: php-fpm wkhtmltopdf
  .env.example
  docker-compose.yml
Labels: Service: php-fpm, Tool: wkhtmltopdf

#3441 fix: workdpace amqp ext.
  workspace/Dockerfile
Labels: PHP Extension: AMQP, Service: workspace

#3443 fix: php-worker amqp ext.
  php-worker/Dockerfile
Labels: PHP Extension: AMQP, Service: php-worker

#3442 fix: php-fpm wkhtmltopdf ext need libssl3
  php-fpm/Dockerfile
Labels: Service: php-fpm, Tool: wkhtmltopdf

#3444 fix: php-fpm decimal ext.
  php-fpm/Dockerfile
Labels: Service: php-fpm, PHP Extension: decimal

#3430 chore (caddy) add zstd
  caddy/caddy/Caddyfile
Labels: Service: Caddy

#3445 fix: php-worker gnupg
  php-worker/Dockerfile
Labels: PHP Extension: gnupg, Service: php-worker

#3295 Fix change China mirror
  workspace/Dockerfile
Labels: GFW
