Repository laradock/laradock, pull requests merged in 2023-10, with the labels that each got.

#3452 php-fpm: fix php 7 redis
  php-fpm/Dockerfile
Labels: PHP Extension: Redis

#3461 fix: php sqlsrv ext.
  .github/workflows/main-ci.yml
  php-fpm/Dockerfile
  php-worker/Dockerfile
  workspace/Dockerfile
Labels: PHP Extension: sqlsrv / dblib (MSSQL)

#3464 fix: mysql service down after startup
  mysql/Dockerfile
  mysql/my.cnf
Labels: Service: MySQL

#3466 v18 packages should be used instead of v17 for sqlsrv (mssql) support in workspace and php-fpm
  php-fpm/Dockerfile
  workspace/Dockerfile
Labels: PHP Extension: sqlsrv / dblib (MSSQL), Service: php-fpm, Service: workspace
