Repository laradock/laradock, pull requests merged in 2024-07, with the labels that each got.

#3537 Fix for bug #3535
  mysql/Dockerfile
Labels: Service: MySQL

#3528 Workspace: add new aliases
  workspace/aliases.sh
Labels: Service: workspace

#3534 Fix swoole
  workspace/Dockerfile
Labels: PHP Extension: Swoole, Service: workspace

#3533 Fix oracle instant client args from env
  docker-compose.yml
Labels: PHP Extension: oci8

#3540 fix: mysql service exit
  .env.example
  mysql/Dockerfile
Labels: Service: MySQL

#3467 add restart: always for all service
  docker-compose.yml
  php-worker/Dockerfile
Labels: Service: php-worker
