Repository laradock/laradock, pull requests merged in 2024-04, with the labels that each got.

#3488 Adding Github CLI to workspace
  .env.example
  DOCUMENTATION/content/documentation/index.md
  docker-compose.yml
  workspace/Dockerfile
Labels: Service: workspace

#3481 Fix IONCUBE on Php 8.2
  php-fpm/Dockerfile
  workspace/Dockerfile
Labels: Service: php-fpm, Service: workspace

#3517 Handle Phalcon installation exceptions in php-worker
  docker-compose.yml
  php-worker/Dockerfile
Labels: Service: php-worker
